{% extends 'base.html' %}

    {% block content %}

    <div class="card mt-3 pb-5">
        <div class="card-body">
          
            <div id="wrapper_admin_edit">
                <h1>Edit My Account</h1>
        <div id="admin_edit_user">
            <form action="/admin_edit_user/{{current_user.id}}" class="form-group" method="POST">
                    {% csrf_token %}
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="form-control" value="{{current_user.email}}">
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" class="form-control" value="{{current_user.first_name}}">
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name" class="form-control" value="{{current_user.last_name}}">
                    <input type="hidden" value="{{current_user.user_lvl}}" name="user_lvl">
                    <label for="desc">Description:</label>
                    <textarea name="desc" class="form-control" cols="30" rows="10"></textarea>
                    <br>
                    <button class="btn btn-success">Save</button>
                    
                </form>
                
            </div>
            
            <div id="admin_edit_password">
                <form action="/admin_edit_password/{{current_user.id}}" method="POST" class="form-group">
                    {% csrf_token %}
                    
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control">
                    <label for="confirm">Confirm:</label>
                    <input type="password" name="confirm" class="form-control">
                    <br>
                    <button class="btn btn-success mt-2">Save</button>
                    
                </form>
                
            </div>
            
        </div>
        <div class="errors">
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        
    </div>
  </div>
        {% endblock %}